<div class="mobile-menu-area" data-th-fragment="mobile-menu-area-start">
    <div class="mobile-menu">
        <div class="m-logo">
            <a href="#"><img src="images/logo.png" alt="">
            </a>
        </div>
        <nav id="dropdown">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li><a href="product.html">All Products</a>
                    <ul class="sub-menu">
                        <li><a href="#">Wordpress themes</a>
                        </li>
                        <li><a href="#">HTML Templates</a>
                        </li>
                        <li><a href="#">PSD templates</a>
                        </li>
                        <li><a href="#">Print items</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Pages</a>
                    <ul class="mega-menu">
                        <li>
                            <a href="index.html">Home-V1</a>
                            <a href="home-2.html">Home-V2</a>
                            <a href="home-3.html">Home-V3</a>
                            <a href="about.html">About us</a>
                        </li>
                        <li>
                            <a href="product.html">Product list</a>
                            <a href="product-details.html">Product details</a>
                            <a href="cart.html">Cart</a>
                            <a href="checkout.html">Checkout</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog Page</a>
                            <a href="single-blog.html">Single Blog</a>
                            <a href="faq.html">FAQ page</a>
                            <a href="contact.html">Contact Us</a>
                        </li>
                        <li>
                            <a href="my-account.html">My account</a>
                            <a href="coming-soon.html">Coming Soon</a>
                            <a href="404.html">404 Page</a>

                        </li>
                    </ul>
                </li>
                <li><a href="#">Wordpress themes</a>
                </li>
                <li><a href="#">HTML Templates</a>
                </li>
                <li><a href="#">PSD templates</a>
                </li>
                <li><a href="#">Print items</a>
                </li>
                <li><a href="#">freebee</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
