<footer class="footer-area" data-th-fragment="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">our product</h3>
                        <ul class="product-list">
                            <li><a href="#">Freebee</a>
                            </li>
                            <li><a href="#">PSD Template</a>
                            </li>
                            <li><a href="#">HTML Template</a>
                            </li>
                            <li><a href="#">Wordpress Template</a>
                            </li>
                            <li><a href="#">Others Graphic</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="footer-widget support-pd">
                        <h3 class="footer-title">support</h3>
                        <ul class="our-support">
                            <li><a href="#">General Support</a>
                            </li>
                            <li><a href="#">Community Forum </a>
                            </li>
                            <li><a href="#">Licenses </a>
                            </li>
                            <li><a href="#">Terms & Conditions </a>
                            </li>
                            <li><a href="#">Privacy Policy </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">company</h3>
                        <ul class="our-company">
                            <li><a href="about.html">About</a>
                            </li>
                            <li><a href="faq.html">Faq Page</a>
                            </li>
                            <li><a href="contact.html">Contact Us</a>
                            </li>
                            <li><a href="#">Copyright Notice</a>
                            </li>
                            <li><a href="#">Refund Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-buttom">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-xs-12">
                    <div class="copy-right">
                        <p>©Copyright 2018</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                    <div class="footer-social">
                        <ul>
                            <li class="fb"><a href="#"><i class="fa fa-facebook-square"></i>facebook</a>
                            </li>
                            <li class="gp"><a href="#"><i class="fa fa-google-plus"></i>Google+</a>
                            </li>
                            <li class="tw"><a href="#"><i class="fa fa-twitter"></i>twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
