<section class="client-area overly-bg" data-stellar-background-ratio="0.6" style="background-image: url(images/client/client-bg.jpg)" data-th-fragment="client-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="client-wrap owl-carousel">
                    <div class="single-quote">
                        <div class="quote-thumb">
                            <img src="images/client/cl1.jpg" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium</p>
                        <div class="client-name">
                            <h5>albert Hunter</h5>
                            <span>CEO, Jhon Heart, Austalia</span>
                        </div>
                    </div>
                    <!-- Singel Quote End -->
                    <div class="single-quote">
                        <div class="quote-thumb">
                            <img src="images/team/tm1.jpg" alt="">
                        </div>
                        <p>consectetur adipisicing elit. Optio omnis possimus accusamus autem odio, nisi iusto nihil illo harum, tempore soluta minus nemo ab at ipsa reprehenderit facilis officiis dolorum?</p>
                        <div class="client-name">
                            <h5>albert Hunter</h5>
                            <span>CEO, Jhon Heart, Austalia</span>
                        </div>
                    </div>

                    <div class="single-quote">
                        <div class="quote-thumb">
                            <img src="images/client/cl1.jpg" alt="">
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium</p>
                        <div class="client-name">
                            <h5>albert Hunter</h5>
                            <span>CEO, Jhon Heart, Austalia</span>
                        </div>
                    </div>
                    <!-- Singel Quote End -->
                </div>
            </div>
        </div>
    </div>
</section>
