<section class="promo-area section-padding" data-th-fragment="promo-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <span class="promo-icon"><i class="fa fa-laptop"></i></span>
                    <h3 class="promo-heading">High Quality Products</h3>
                    <p>Product made BY professionals with 5 years of work experience.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <span class="promo-icon"><i class="fa fa-clock-o"></i></span>
                    <h3 class="promo-heading">24/7 Customer Services</h3>
                    <p>Our Customer Services Managers will always help you.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <span class="promo-icon"><i class="fa fa-thumbs-o-up"></i></span>
                    <h3 class="promo-heading">100% Satisfaction</h3>
                    <p>In case you are not satisfied with the purchased product, we’ll change it.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <span class="promo-icon"><i class="fa fa-money"></i></span>
                    <h3 class="promo-heading">Money Back guarantee</h3>
                    <p>In case you change your mind you’ll get a refund in 30 days.</p>
                </div>
            </div>
        </div>
    </div>
</section>
