<div class="main-menu-area" data-th-fragment="main-menu-area-start" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="service" type="com.marketplace.web.domain.Mp_Service"*/-->
    <!--/*@thymesVar id="categories" type="java.util.Set<com.marketplace.web.commands.CategoryCommand>"*/-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-menu">
                    <nav>
                        <ul id="nav">
                            <li><a th:href="@{'/'}"><i class="fa fa-home"></i></a></li>
                            <li><a th:href="@{'/admin/categories'}">All Categories</a>

                                <ul class="sub-menu" th:each="category : ${categories}">
                                    <li><a th:href="@{/admin/newcategory}">New Category</a>
                                    </li>
                                    <li><a href="#" th:text="${category.category_name}">HTML Templates</a>
                                        <ul class="sub-menu" th:each="service : ${category.mp_services}">
                                            <li><a th:href="@{'/service/' + ${service.id_service} +'/show'}" th:text="${service.service_name}">Corporate</a>
                                            </li>


                                        </ul>
                                    </li>


                                </ul>
                            </li>
                            <li><a href="#">ABOUT US</a>
                            </li>
                            <li><a th:href="@{'/contact'}">CONTACT US</a>
                            </li>
                            <li><a th:href="@{/myservice}">My Service</a>
                            </li>
                            <li><a th:href="@{/containers}">Manage containers</a>
                            </li>
                            <li><a th:href="@{/chatroom}">Chat Room</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Menu Item End -->
                </div>
            </div>
        </div>
    </div>
</div>
