<div class="user-board-area" data-th-fragment="USER-AREA-START" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-2  hidden-sm ">
                <div class="logo hidden-xs">
                    <a href="index.html"><img src="images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-7  hidden-xs">
                <div class="user-menu">
                    <nav>
                        <ul id="nav">

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Userboard Start Here -->
            <div class="col-md-4 col-sm-5 col-xs-12 no-padding">
                <div class="userboard">
                    <ul class="board-item">

                        <li><a th:href="@{'/Register'}" ><i class="fa fa-user-plus"></i>Create an Account</a></li>
                        <li><button class="btn-filled" type="button" data-toggle="modal" data-target="#storola-modal"><i class="fa fa-user"></i> login</button></li>
                        <!-- Modal -->
                        <div class="modal fade" id="storola-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="modal-logo">
                                            <a href="#"><img src="images/logo.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <h2>Great You are Here</h2>
                                        <form action="#">
                                            <div class="form-group">
                                                <label>User Name</label>
                                                <input type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn-filled">log in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal End -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
