<section class="hero-area overly-bg" data-stellar-background-ratio=".9" style="background-image: url(/images/banner/hero.jpg)" data-th-fragment="hero-area-start-here" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-wrap">
                    <form action="ResultSearch" method="post" name="service" class="item-search">
                        <input type="text" name="name" placeholder="Search your Items">

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
