<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="services" type="java.util.List<com.marketplace.web.domain.Mp_Service>"*/-->

<!-- PRODUCT DETAILS AREA START HERE -->
<div data-layout-fragment="content">
<main class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <!-- SINGLE PRODUCT START -->
                <div class="single-product">
                    <div class="s-product-thumb">
                        <img th:src="@{'/admin/category/' + ${service.mp_category.getId_category()} + '/service/' + ${service.id_service} +'/recipeimage'}" alt="">
                        <h3 class="product-title" th:text="${service.service_name}">Corporate Business Brochure</h3>
                    </div>

                    <!-- S-product Tab Start -->
                    <div class="s-product-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#i-details" aria-controls="i-details" role="tab" data-toggle="tab">Service Details</a>
                            </li>
                            <li role="presentation"><a href="#Get-Started" aria-controls="Get-Started" role="tab" data-toggle="tab">Get Started</a>
                            </li>
                            <li role="presentation"><a href="#support" aria-controls="support" role="tab" data-toggle="tab">Support</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="i-details">
                                <div class="item-detail-tab" th:text="${service.descripition}">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                                    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                                    <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
                                    <ul class="item-details-list">
                                        <li>Nullam a lectus mattis, viverra sapien eget</li>
                                        <li>Phasellus vulputate urna</li>
                                        <li>Aenean viverra est eu lacus tempor rutrum.</li>
                                        <li>Phasellus vitae orci sed enim semper interdum vitae</li>
                                        <li>Donec in orci et diam viverra maximus.</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean feugiat a,</p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade in active" id="Get-Started">
                                <div class="item-detail-tab" th:text="${service.get_started}">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                                    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                                    <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>
                                    <ul class="item-details-list">
                                        <li>Nullam a lectus mattis, viverra sapien eget</li>
                                        <li>Phasellus vulputate urna</li>
                                        <li>Aenean viverra est eu lacus tempor rutrum.</li>
                                        <li>Phasellus vitae orci sed enim semper interdum vitae</li>
                                        <li>Donec in orci et diam viverra maximus.</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. </p>
                                    <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean feugiat a,</p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="support">
                                <div class="item-support">
                                    <h3>Need Support?</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem praesentium nisi, deserunt fugit eius cupiditate sit similique quia magni rerum aperiam cum veniam a, omnis accusantium, laboriosam reiciendis, explicabo facilis?</p>
                                    <a href="contact.html" class="custom-btn">support</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PRODUCT TAB END -->
                </div>
                <!-- SINGLE PRODUCT END -->
            </div>
            <div class="col-md-4 col-sm-12">
                <aside class="product-sidebar">
                    <div class="product-widget">
                        <a href="#" class="currency" th:text="${service.price} + 'Eth'">$17.00</a>
                        <div class="price-info">

                            <a th:href="@{'/buyservice/' + ${service.id_service} +'/' +${service.idImage}}" class="custom-btn">buy now</a>
                        </div>
                    </div>
                    <div class="product-widget">
                        <div class="pay-method">
                            <img src="images/p-method.png" alt="">
                        </div>
                    </div>

                    <div class="product-widget">
                        <h3 class="prodect-info-heading">Service information</h3>
                        <div class="prodect-information">
                            <ul>
                                <li>
                                    <span class="info-name">Available Date</span>
                                    <label>:</label>
                                    <span class="info-value" th:text="${service.availableDate}"> 21 September 18</span>
                                </li>
                                <li>
                                    <span class="info-name">Category</span>
                                    <label>:</label>
                                    <span class="info-value" th:text="${service.mp_category.category_name}"></span>
                                </li>
                                <li>
                                    <span class="info-name">Statut</span>
                                    <label>:</label>
                                    <span class="info-value" th:text="${service.status}">Responsive</span>
                                </li>
                                <li>
                                    <span class="info-name">Available Storage</span>
                                    <label>:</label>
                                    <span class="info-value" th:text="${service.available_storge}">IE9, IE10, IE11, Fire fox, Safari, Opera, Chrome, Edge</span>
                                </li>





                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>
<!-- PRODUCT DETAILS AREA END HERE -->

<!-- RELATED PRODUCT START -->
</div>
</body>
</html>