<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="news" type="com.marketplace.web.domain.News*/-->

<div data-layout-fragment="content">
    <main class="cart-area main-content">

        <main class="product-cart">

            <div class="container">

                <div class="row">
                    <div class="col-md-12">

                        <div class="cart-wrap">
                            <div class="row cart-header">
                                <div class="col-sm-2">
                                    <strong class="p-title">item</strong>
                                </div>
                                <div class="col-sm-3">
                                    <strong class="p-title">Category Name</strong>
                                </div>
                                <div class="col-sm-2">
                                    <strong class="p-title">Show</strong>
                                </div>
                                <div class="col-sm-1">
                                    <strong class="p-title">Update</strong>
                                </div>
                                <div class="col-sm-2">
                                    <strong class="p-title">Delete</strong>
                                </div>
                            </div> <!-- Cart Header End -->
                            <!-- Single Cart Start-->
                            <div class="row single-cart" th:each="category : ${news}">
                                <div class="col-sm-2 no-padding">
                                    <div class="cart-prev">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-heading" >
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <strong class="s-cart-price"><a th:href="@{'/admin/category/' + ${category.id +'/show'}}">Show</a></strong>
                                </div>
                                <div class="col-sm-2 col-sm-offset-1">
                                    <strong class="s-cart-price"><a th:href="@{'/admin/category/' + ${category.id} +'/update'}">Update</a></strong>
                                    <div class="cart-remove" ><a th:href="@{'/admin/category/' + ${category.id} +'/delete'}">Delete</a></div>
                                </div>
                            </div> <!-- Single Cart End -->
                            <!-- Single Cart End -->
                        </div> <!-- Cart Wrap End -->
                        <div class="survice-button">
                            <button class="custom-btn"  role="button"><a th:href="@{'/new'}">Add New Category</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </main>
</div>
</body>
</html>