<!DOCTYPE html >
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="Services" type="java.util.List<com.marketplace.web.domain.Mp_Service>"*/-->
<div data-layout-fragment="content">
    <main class="product-area main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="promo-item-wrap">
                        <div class="tab-header clearfix">
                            <!-- Nav tabs -->
                            <ul class="product-tab pull-left" role="tablist">
                                <li role="presentation" class="active"><a href="#seller" aria-controls="seller" role="tab" data-toggle="tab">new items</a>
                                </li>
                                <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">popular items</a>
                                </li>
                            </ul>
                            <div class="tab-viewport pull-right hidden-xs">
                                <div class="filter-form">
                                    <h5 class="filter-title">sort by: </h5>
                                    <div class="filter-form">
                                        <form action="#">
                                            <select id="seltect-opt">
                                                <option value="Defauld">Default</option>
                                                <option value="Newest">Newest items</option>
                                                <option value="Trending">Trending items</option>
                                                <option value="Best">Best sellers</option>
                                                <option value="Price">Price: low to high</option>
                                                <option value="Price">Price: high to high</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="view-tab">
                                    <ul role="tablist">
                                        <li><a href="product.html"><i class="fa fa-th"></i></a></li>
                                        <li><a href="product-list.html"><i class="fa fa-th-list"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- TAB PANES CONTENT START -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="seller">
                                <div class="row">
                                    <!-- Single Product Start -->
                                    <div class="col-md-12" th:each="service:${services}">
                                        <div class="item-demo item-list">
                                            <figure>
                                                <img th:src="@{'/admin/category/' + ${service.getMp_category().getId_category()} + '/service/' + ${service.id_service} +'/recipeimage'}" alt="">
                                                <div class="product-caption">
                                                    <div class="caption-cel">
                                                        <div class="product-link">
                                                            <div>
                                                                <div>
                                                                    <a th:href="@{'/service/' + ${service.id_service} +'/show'}">View Details <span><i class="fa fa-eye"></i></span></a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                            <div class="product-info">
                                                <div class="product-header">
                                                    <h3 class="product-name"><a th:href="@{'/service/' + ${service.id_service} +'/show'}" th:text="${service.service_name}">Market Place PSD Template</a> <span th:text="${service.price} +'Eth'">$20</span></h3>

                                                    <P th:text="${service.descripition}">Natus quia eligendi beatae, facilis, ducimus repellat. Minima ea ipsum incidunt sapiente ex fugiat quaerat culpa praesentium, eos, ut repellat quae earum!</P>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    </main>
</body>

</html>