<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div data-layout-fragment="content">
    <main class="cart-area main-content">
        <main class="product-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-wrap">
                            <div class="row cart-header" >
                                <div th:align="center" >
                                    <strong class="p-title" >Stopped Containers</strong>
                                </div>
                            </div>
                            <div class="row cart-header">
                                <div class="col-sm-2">
                                    <strong class="p-title">ID</strong>
                                </div>
                                <div class="col-sm-3">
                                    <strong class="p-title">Container Name</strong>
                                </div>
                                <div class="col-sm-3">
                                    <strong class="p-title">image</strong>
                                </div>

                            </div> <!-- Cart Header End -->
                            <!-- Single Cart Start-->
                            <div class="row single-cart" th:each="container : ${containers}">
                                <div class="col-sm-2 ">
                                    <div class="s-cart-price">
                                        <p class="p-title" th:text="${container.getId().substring(0,16)}">Corporate Business Brochure</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div  class="s-cart-price" >
                                        <p class="p-title" th:text="${container.names[0]}">Corporate Business Brochure</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div  class="s-cart-price" >
                                        <p class="p-title" th:text="${container.getImage()}" >Corporate Business Brochure</p>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-sm-offset-1" >

                                    <strong class="s-cart-price"><a th:href="@{'/container/show/'+${container.getId()}}" >details</a></strong>
                                    <strong class="s-cart-price"><a th:href="@{'/container/start/'+${container.getId()}}" >Start</a></strong>
                                    <div  class="cart-remove" ><a th:href="@{'/container/delete/'+${container.getId()}}" >Delete</a></div>
                                </div>
                            </div> <!-- Single Cart End -->
                            <!-- Single Cart End -->
                        </div> <!-- Cart Wrap End -->
                    </div>
                </div>
            </div>
        </main>
        <main class="product-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-wrap">
                            <div class="row cart-header" >
                                <div th:align="center" >
                                    <strong class="p-title" >Running Containers</strong>
                                </div>
                            </div>
                            <div class="row cart-header">
                                <div class="col-sm-2">
                                    <strong class="p-title">ID</strong>
                                </div>
                                <div class="col-sm-3">
                                    <strong class="p-title">Container Name</strong>
                                </div>
                                <div class="col-sm-3">
                                    <strong class="p-title">image</strong>
                                </div>


                            </div> <!-- Cart Header End -->
                            <!-- Single Cart Start-->
                            <div class="row single-cart" th:each="containerUp : ${containersUp}">
                                <div class="col-sm-2">
                                    <div class="s-cart-price">
                                        <p class="p-title" th:text="${containerUp.getId().substring(0,16)}">Corporate Business Brochure</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="s-cart-price" >
                                        <p class="p-title" th:text="${containerUp.names[0]}">Corporate Business Brochure</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="s-cart-price" >
                                        <p class="p-title" th:text="${containerUp.getImage()}">Corporate Business Brochure</p>
                                    </div>
                                </div>

                                <div class="col-sm-2 col-sm-offset-1">
                                    <strong class="s-cart-price"><a th:href="@{'/container/show/'+${containerUp.getId()}}" >details</a></strong>
                                    <strong class="s-cart-price"><a th:href="@{'/container/stop/'+${containerUp.getId()}}">Stop</a></strong>
                                    <div class="cart-remove"  ><a th:href="@{'/container/delete/'+${containerUp.getId()}}"  >Delete</a></div>
                                </div>

                            </div> <!-- Single Cart End -->
                            <!-- Single Cart End -->
                        </div> <!-- Cart Wrap End -->

                    </div>
                </div>
            </div>
        </main>
    </main>
</div>


</body>
</html>