<!DOCTYPE html >
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="Category" type="java.util.Set<com.marketplace.web.domain.Mp_Category>"*/-->
<div data-layout-fragment="content">
    <main class="product-area main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="promo-item-wrap">


                        <!-- TAB PANES CONTENT START -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="seller">
                                <div class="row">
                                    <!-- Single Product Start -->
                                    <div class="col-md-12" th:each="category:${categories}">
                                        <div class="item-demo item-list">
                                            <figure>
                                                <img th:src="@{'/admin/category/' + ${category.id_category} +'/recipeimage'}" alt="">
                                                <div class="product-caption">
                                                    <div class="caption-cel">
                                                        <div class="product-link">
                                                            <div>
                                                                <div>
                                                                    <a th:href="@{'/admin/category/' + ${category.id_category} +'/show'}">View Details <span><i class="fa fa-eye"></i></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                            <div class="product-info">
                                                <div class="product-header">
                                                    <h3 class="product-name"><a th:href="@{'/admin/category/' + ${category.id_category} +'/show'}"></a> <span>$20</span></h3>

                                                    <a href="product-details.html" th:text="${category.category_name}">lol</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    </main>
</body>

</html>