<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--/*@thymesVar id="category" type="com.marketplace.web.domain.Mp_Category"*/-->
<!--/*@thymesVar id="Service" type="java.util.Set<com.marketplace.web.commands.ServiceCommand>"*/-->

<div data-layout-fragment="content">

    <main class="cart-area main-content" >
        <main class="product-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" >
                        <div class="cart-wrap" th:if="${not #lists.isEmpty(category.mp_services)}">
                            <div class="row cart-header">
                                <div class="col-sm-2">
                                    <strong class="p-title">item</strong>
                                </div>
                                <div class="col-sm-3">
                                    <strong class="p-title">Category Name</strong>
                                </div>
                                <div class="col-sm-2">
                                    <strong class="p-title">Show</strong>
                                </div>
                                <div class="col-sm-1">
                                    <strong class="p-title">Update</strong>
                                </div>
                                <div class="col-sm-2">
                                    <strong class="p-title">Delete</strong>
                                </div>
                            </div> <!-- Cart Header End -->
                            <!-- Single Cart Start-->
                            <div class="row single-cart" th:each="service : ${category.mp_services}">
                                <div class="col-sm-2 no-padding">
                                    <div class="cart-prev">
                                        <a href="product-details.html"><img th:src="@{'/admin/category/' + ${service.mp_category.getId_category()} + '/service/' + ${service.id_service} +'/recipeimage'}" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="product-heading" >
                                        <p th:text="${service.service_name}">Corporate Business Brochure</p>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <strong class="s-cart-price"><a th:href="@{'/service/' + ${service.id_service} +'/show'}">Show</a></strong>
                                </div>
                                <div class="col-sm-2 col-sm-offset-1">
                                    <strong class="s-cart-price"><a href="#" th:href="@{'/admin/category/'+ ${service.id_service}+ '/service/' +${category.id_category} +'/update/'}">Update</a></strong>
                                    <div class="cart-remove" ><a th:href="@{'/admin/category/' + ${category.id_category} +'/service/' + ${service.id_service} +'/delete/'}">Delete</a></div>
                                </div >
                                <div class="col-md-12 col-sm-12">

                                </div>
                            </div> <!-- Single Cart End -->
                            <!-- Single Cart End -->
                        </div>
                        <!-- Cart Wrap End -->
                        <div class="survice-button">
                            <button class="custom-btn"  role="button"><a th:href="@{'/service/' + ${category.id_category} + '/new'}">Add New Service</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </main>
</div>

</body>
</html>