<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="category" type="com.marketplace.web.domain.Mp_Category"*/-->
<!--/*@thymesVar id="Service" type="java.util.Set<com.marketplace.web.commands.ServiceCommand>"*/-->

<div data-layout-fragment="content">

    <main class="cart-area main-content" >
        <main class="product-cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="w3-left w3-btn" th:href="@{/containers}">❮ Previous</a>
                        <p>
                        </p>
                        <div class="cart-wrap">
                            <div class="row cart-header" >
                                <div th:align="center" >
                                    <strong class="p-title" ><p th:text="${container.name}"></p></strong>
                                </div>
                            </div>
                            <div class="container">


                                <table class="table table-striped">
                                    <tr>
                                        <th>ID</th>
                                        <td><p th:text="${container.getId()}"></p></td>
                                    </tr>
                                    <tr>
                                        <th>Image Name</th>
                                        <td><p th:text="${container.config.getImage()}"></p></td>
                                    </tr>

                                    <tr>
                                        <th>Image ID</th>
                                        <td><p th:text="${container.getImageId().substring(7,70)}"></p></td>
                                    </tr>
                                    <tr>
                                        <th>IP Address</th>
                                        <td><p th:text="${container.networkSettings.getIpAddress()}"></p></td>
                                    </tr>
                                    <tr>
                                        <th>Port</th>
                                        <td><p th:text="${container.networkSettings.ports.bindings}"></p></td>
                                    </tr>
                                    <tr>
                                        <th>State</th>
                                        <td><p th:text="${container.getState().getStatus()}"></p></td>
                                    </tr>











                                </table>
                            </div>


                        </div> <!-- Cart Wrap End -->

                    </div>

                </div>
            </div>
        </main>
    </main>
</div>

</body>
</html>