<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<!-- BREADCRUMB START HERE -->
<div data-layout-fragment="content" >
<div class="about-breadcrumb" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{'/'}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Register-Login</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB END HERE -->

<!-- CONTACT AREA START HERE -->
<main class="account-area main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="register-wrap">
                    <h3>register</h3>
                    <form action="#">
                        <div class="form-group">
                            <label for="firstname">First name<span class="required">*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last name<span class="required">*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="birthdate">Date of birth<span class="required">*</span></label>
                            <input type="date">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address<span class="required">*</span></label>
                            <input type="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password <span class="required">*</span></label>
                            <input type="password">
                        </div>
                        <div class="form-group">
                            <label for="re-password"> Retype Password <span class="required">*</span></label>
                            <input type="password">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number<span class="required">*</span></label>
                            <input type="email">
                        </div>
                        <div class="form-group">
                            <label for="country">Country<span class="required">*</span></label>
                            <input id="pac-input"  placeholder="Search Box">
                        </div>
                        <div class="form-group">
                            <label for="zip">Zip code<span class="required">*</span></label>
                            <input type="text" placeholder="zip code">
                        </div>
                        <button class="custom-btn">register</button>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
                <div class="loging-wrap">
                    <h3>login</h3>
                    <form action="#">
                        <div class="form-group">
                            <label for="name">User Name or Email Address<span class="required">*</span></label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="password">Password<span class="required">*</span></label>
                            <input type="password">
                        </div>
                        <div class="form-group form-inline">
                            <button class="custom-btn red">login</button>
                            <label class="inline"><input type="checkbox"> Remember me</label>
                        </div>
                        <p class="lost-pass"><a href="#">lost Password?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
<script>
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-SR2dweojo8r3hM-ZOlH6Y8FEGM6Phu0&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>
</html>